.wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2px;
  margin: 0 auto;
  max-width: 900px;
}

.item {
  width: 100%;
}

.link {
  width: 100%;
}

.image {
  width: 100%;
}

@media screen and (max-width: 520px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
