.modal {
  background-color: white;
  z-index: 3;
}

.list {
  background-color: white;
  list-style: none;

  position: absolute;
  z-index: 3;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80vw;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80vw;
  height: 80vh;
}

.image {
  width: 80vw;
  height: 80vh;
  object-fit: contain;
}

.leftArrow {
  position: absolute;
  top: 50vh;
  left: 32px;
  color: black;
  cursor: pointer;
  z-index: 30;
  font-size: 30pt;
  user-select: none;
}

.rightArrow {
  position: absolute;
  top: 50vh;
  right: 32px;
  color: black;
  cursor: pointer;
  z-index: 30;
  font-size: 30pt;
  user-select: none;
}
